.videoItem {
  flex-basis: 320px;
  cursor: pointer;
}

.videoItem:hover .thumbnail .player {
  display: block;
}

.videoItem:hover .thumbnail img {
  border-radius: 0;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  border-radius: 1rem;
  transition: border-radius 0.5s ease-in-out;
}

.thumbnail .player {
  position: absolute;
  display: none;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.videoInfo {
  padding: 0 0.3rem;
}

.videoInfo h2 {
  margin: 0.5rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.1rem;
}

.videoMeta p {
  width: fit-content;
  color: var(--text-secondary-color);
  font-size: 0.8rem;
}

.videoMeta p:first-child {
  margin-bottom: 0.3rem;
}

.videoMeta p:first-child:hover {
  color: var(--text-primary-color);
}
